@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Set default font family and size */
body {
  font-family: "Syne", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Remove default list styles */
ul,
ol, li {
  list-style: none;
}

/* Remove default table border */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default button styling */
button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  padding: 10px 15px;
  outline: none;
  border: 2px solid #000;
}

input[type=text] {
  -webkit-appearance: none;
  padding: 10px 15px;
  outline: none;
  border: 2px solid #cdcdcb;
}

/* Remove outline on focused elements */
:focus {
  outline: 0;
}

/* Add box-sizing to all elements */
* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  font-size: 24px;
  color: #232323;
}

.btn {
  padding: 0.6rem 2.8rem;
  border-radius: 0px;
}

.btn-primary-outline {
  text-transform: uppercase;
  margin-top: 24px;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5;
  border: 3px solid #ff2b09;
  transition: ease 0.2s;
}
.btn-primary-outline:hover {
  color: #fff;
  background-color: #ff2b09;
}

body {
  font-family: Arial, sans-serif;
  color: #333333;
}

header {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 25px;
}
header .header__logo {
  display: flex;
  align-items: center;
  justify-content: space-center;
  width: 30%;
}
header .header__logo h1 {
  font-size: large;
  font-weight: bold;
}
header .header__logo img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
header .header__navbar {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .header__navbar ul li {
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
}
header .header__navbar ul li:hover {
  border-bottom: 5px solid #232323;
}
header .header__navbar .header__icon ul li {
  padding: 10px;
}
header .menu__icon {
  display: none;
}

.container .slide {
  position: relative;
  height: 960px;
}
.container .slide .slide__background {
  background-image: url("../asset/img/slide-background.jpg");
  filter: blur(2px);
  -webkit-filter: blur(2px);
  width: 100%;
  height: 960px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  top: 0;
  z-index: 0;
}
.container .slide .slide__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 85%;
  padding-top: 50px;
}
.container .slide .slide__content img {
  max-width: 50%;
  margin-left: 8%;
}
.container .slide .slide__content .slide__content__des {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #232323;
  min-width: 40%;
}
.container .slide .slide__content .slide__content__des h2 {
  text-transform: uppercase;
  font-size: 2.6rem;
  line-height: 1.1;
  font-weight: bold;
  text-align: left;
}
.container .slide .slide__content .slide__content__des p {
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
  font-family: "EB Garamond", serif;
  font-size: 1.4375rem;
  line-height: 1.5;
}
.container .slide .slide__content .slide__control {
  padding: 0 80px;
  color: #232323;
  font-size: 25px;
}
.container .slide .slide__content .slide__control .slide__pre {
  transform: translate(-50%, -50%);
  position: absolute;
  left: -2%;
}
.container .slide .slide__content .slide__control .slide__next {
  transform: translate(-50%, -50%);
  position: absolute;
  right: -2%;
}
.container .about-us {
  padding: 0 80px;
  margin-top: 80px;
}
.container .about-us .section__title {
  text-align: center;
  padding: 30px;
  margin: 0 auto;
  padding-bottom: 85px;
  text-transform: uppercase;
  font-size: 40px;
}
.container .about-us .section__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.container .about-us .section__content .card {
  background: #f2f2f2;
  padding: 30px 30px 60px;
  text-align: center;
}
.container .about-us .section__content .card .card--icon {
  font-size: 5rem;
  color: #ff2b09;
  margin-bottom: 2rem;
}
.container .about-us .section__content .card .card--title strong {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 600;
}
.container .introduce {
  padding: 0 80px;
  margin-top: 80px;
}
.container .introduce .section__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .introduce .section__container .left-side {
  padding: 50px;
  max-width: 50%;
}
.container .introduce .section__container .left-side .content .content__title {
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.6rem;
  line-height: 1.1;
}
.container .introduce .section__container .left-side .content .content__text {
  color: #626262;
  margin: 0;
  text-align: left;
  padding-top: 9px;
  font-style: italic;
}
.container .introduce .section__container .left-side .panel {
  margin-top: 20px;
}
.container .introduce .section__container .left-side .panel .panel__title {
  border-top: 2px solid #626262;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .introduce .section__container .left-side .panel .panel__title .panel__title--text {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.container .introduce .section__container .left-side .panel .panel__title .panel__title--icon {
  color: #ff2b09;
  font-size: 25px;
}
.container .introduce .section__container .left-side .panel .pannel__text {
  display: none;
}
.container .introduce .section__container .right-side {
  max-width: 50%;
}
.container .must-know {
  padding: 0 80px;
  margin-top: 80px;
  text-align: center;
}
.container .must-know .section__container {
  padding: 12.5rem 0;
  background: #f2f2f2;
  border-radius: 0;
}
.container .must-know .section__container .section__title {
  padding: 30px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 40px;
}
.container .must-know .section__container .section__link {
  color: #626262;
  text-transform: uppercase;
  margin-top: 1.25rem;
  padding-bottom: 10px;
}
.container .must-know .section__container .section__link:hover {
  border-bottom: 2px solid #ff2b09;
  color: #ff2b09;
}
.container .special-product {
  padding: 0 80px;
  margin-top: 80px;
}
.container .special-product .section__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .special-product .section__container .left-side {
  max-width: 50%;
}
.container .special-product .section__container .right-side {
  padding: 50px;
  max-width: 50%;
}
.container .special-product .section__container .right-side .content .content__title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.6rem;
  line-height: 1.1;
}
.container .special-product .section__container .right-side .content .content__subtitle {
  color: #626262;
  font-style: italic;
  font-size: 1.2375rem;
  line-height: 1.5;
}
.container .special-product .section__container .right-side .content .content__text {
  font-size: 1.0525rem;
  line-height: 1.5;
}
.container .special-offer {
  padding: 0 80px;
  margin-top: 80px;
}
.container .special-offer .section__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .special-offer .section__container .left-side {
  max-width: 50%;
}
.container .special-offer .section__container .right-side {
  padding: 50px;
  max-width: 690px;
  text-align: center;
  max-width: 50%;
}
.container .special-offer .section__container .right-side .content .content--link {
  color: #626262;
  text-transform: uppercase;
  margin-top: 1.25rem;
  padding-bottom: 10px;
}
.container .special-offer .section__container .right-side .content .content--link:hover {
  border-bottom: 2px solid #ff2b09;
  color: #ff2b09;
}
.container .special-offer .section__container .right-side .content .content--title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.1;
  padding: 1rem;
  word-break: break-word;
  word-wrap: break-word;
}
.container .special-offer .section__container .right-side .content .content--img {
  max-width: 300px;
  margin: 0 auto;
}
.container .description {
  padding: 0 80px;
  margin-top: 80px;
}
.container .description .section__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .description .section__container .left-side {
  max-width: 50%;
}
.container .description .section__container .left-side .content {
  padding: 50px;
}
.container .description .section__container .left-side .content .content__title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.6rem;
  line-height: 1.1;
}
.container .description .section__container .left-side .content .content__subtitle {
  color: #626262;
  font-style: italic;
  font-size: 1.2375rem;
  line-height: 1.5;
}
.container .description .section__container .left-side .content .content__text {
  font-size: 1.0525rem;
  line-height: 1.5;
}
.container .description .section__container .right-side {
  max-width: 50%;
}
.container .description .section__container .right-side .product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 500px;
}
.container .description .section__container .right-side .product .product__item {
  height: 100%;
  position: relative;
}
.container .description .section__container .right-side .product .product__item .product__img {
  height: 100%;
}
.container .description .section__container .right-side .product .product__item .product__des {
  position: absolute;
  bottom: 7%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
}
.container .description .section__container .right-side .product .product__item .product__des .product__name {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.container .description .section__container .right-side .product .product__item .product__des .product__price {
  font-size: 1.0525rem;
  line-height: 1.5;
}
.container .best-seller {
  padding: 0 80px;
  margin-top: 80px;
}
.container .best-seller .section__title {
  text-align: center;
  padding: 30px;
  margin: 0 auto;
  padding-bottom: 85px;
  text-transform: uppercase;
  font-size: 40px;
}
.container .best-seller .section__wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
}
.container .best-seller .section__wrapper .product__item {
  height: 500px;
  position: relative;
}
.container .best-seller .section__wrapper .product__item .product__img {
  height: 100%;
}
.container .best-seller .section__wrapper .product__item .product__des {
  position: absolute;
  bottom: 7%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
}
.container .best-seller .section__wrapper .product__item .product__des .product__name {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.container .best-seller .section__wrapper .product__item .product__des .product__price {
  font-size: 1.0525rem;
  line-height: 1.5;
}
.container .all-product {
  padding: 0 80px;
  margin-top: 80px;
}
.container .all-product .section__title {
  text-align: center;
  padding: 30px;
  margin: 0 auto;
  padding-bottom: 85px;
  text-transform: uppercase;
  font-size: 40px;
}
.container .all-product .section__wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
}
.container .all-product .section__wrapper .product__item {
  height: 500px;
  position: relative;
}
.container .all-product .section__wrapper .product__item .product__img {
  height: 100%;
}
.container .all-product .section__wrapper .product__item .product__des {
  position: absolute;
  bottom: 10%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
}
.container .all-product .section__wrapper .product__item .product__des .product__name {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.container .all-product .section__wrapper .product__item .product__des .product__price {
  font-size: 1.0525rem;
  line-height: 1.5;
}
.container .contact {
  padding: 0 80px;
  margin-top: 80px;
}
.container .contact .section__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .contact .section__container .left-side {
  max-width: 50%;
}
.container .contact .section__container .left-side .content {
  padding: 50px;
}
.container .contact .section__container .left-side .content .content__title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.6rem;
  line-height: 1.1;
}
.container .contact .section__container .left-side .content .content__subtitle {
  color: #626262;
  font-style: italic;
  font-size: 1.2375rem;
  line-height: 1.5;
}
.container .contact .section__container .left-side .content .content__link li {
  font-size: 1.0525rem;
  line-height: 1.5;
}
.container .contact .section__container .left-side .content .content__link li:hover {
  color: #ff2b09;
}
.container .contact .section__container .right-side {
  width: 50%;
}
.container .contact .section__container .right-side .form__contact .form__info {
  display: flex;
}
.container .contact .section__container .right-side .form__contact .form__info input {
  width: 50%;
  padding: 15px 5px;
}
.container .contact .section__container .right-side .form__contact .form__message input {
  width: 100%;
  padding: 15px 5px;
}

footer .container {
  padding: 80px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  gap: 15px;
}
footer .container .footer__logo img {
  max-width: 300px;
}
footer .container .footer__list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
footer .container .footer__list ul li {
  font-size: 1.0525rem;
  line-height: 1.5;
  font-weight: 500;
}
footer .container .footer__list ul li:hover {
  color: #ff2b09;
  cursor: pointer;
}
footer .container .footer__contact .message {
  margin: 20px 0;
}
footer .container .footer__contact form .email {
  background-color: #f2f2f2;
}
footer .container .footer__contact form .submit:hover {
  color: #f2f2f2;
  background-color: #232323;
  transition: ease-in 0.2s;
}

@media (max-width: 767px) and (min-width: 576px) {
  header .header__navbar {
    display: none;
  }
  header .menu__icon {
    display: block;
  }
  .container .slide .slide__content img {
    width: 40%;
    margin-left: 90px;
  }
  .container .about-us .section__content {
    flex-direction: column;
  }
  .container .introduce .section__container {
    flex-direction: column;
  }
  .container .introduce .section__container .left-side {
    padding: 0;
    max-width: 100%;
  }
  .container .introduce .section__container .right-side {
    max-width: 100%;
  }
  .container .special-product .section__container {
    flex-direction: column;
  }
  .container .special-product .section__container .left-side {
    max-width: 100%;
  }
  .container .special-product .section__container .right-side {
    padding: 0;
    max-width: 100%;
  }
  .container .best-seller .section__title {
    padding: 0;
  }
  .container .special-offer .section__container {
    flex-direction: column;
  }
  .container .special-offer .section__container .left-side {
    max-width: 100%;
  }
  .container .special-offer .section__container .right-side {
    max-width: 100%;
  }
  .container .description .section__container {
    flex-direction: column;
  }
  .container .description .section__container .left-side {
    max-width: 100%;
  }
  .container .description .section__container .left-side .content {
    padding: 0;
  }
  .container .description .section__container .right-side {
    max-width: 100%;
  }
  .container .all-product .section__wrapper {
    grid-template-columns: auto auto;
  }
  .container .contact .section__container {
    flex-direction: column;
  }
  .container .contact .section__container .left-side {
    max-width: 100%;
  }
  .container .contact .section__container .left-side .content {
    padding: 0;
  }
  .container .contact .section__container .right-side {
    width: 100%;
  }
  .container .contact .section__container .right-side .form__contact .form__info {
    flex-direction: column;
  }
  .container .contact .section__container .right-side .form__contact .form__info input {
    width: 100%;
  }
  .container .contact .section__container .right-side .form__contact .form__message input {
    width: 100%;
    padding: 15px 5px;
  }
  footer .container {
    padding: 20px;
  }
}
@media (max-width: 576px) {
  header .header__navbar {
    display: none;
  }
  header .menu__icon {
    display: block;
  }
  .container .slide .slide__content img {
    display: none;
  }
  .container .slide .slide__content .slide__content__des {
    min-width: 90%;
  }
  .container .about-us {
    padding: 0 30px;
  }
  .container .about-us .section__content {
    flex-direction: column;
  }
  .container .introduce {
    padding: 0 30px;
  }
  .container .introduce .section__container {
    flex-direction: column;
  }
  .container .introduce .section__container .left-side {
    padding: 0;
    max-width: 100%;
  }
  .container .introduce .section__container .right-side {
    max-width: 100%;
  }
  .container .special-product {
    padding: 0 30px;
  }
  .container .special-product .section__container {
    flex-direction: column;
  }
  .container .special-product .section__container .left-side {
    max-width: 100%;
  }
  .container .special-product .section__container .right-side {
    padding: 0;
    max-width: 100%;
  }
  .container .best-seller {
    padding: 0 30px;
  }
  .container .best-seller .section__title {
    padding: 0;
  }
  .container .special-offer {
    padding: 0 30px;
  }
  .container .special-offer .section__container {
    flex-direction: column;
  }
  .container .special-offer .section__container .left-side {
    max-width: 100%;
  }
  .container .special-offer .section__container .right-side {
    max-width: 100%;
  }
  .container .must-know {
    padding: 0 30px;
  }
  .container .description {
    padding: 0 30px;
  }
  .container .description .section__container {
    flex-direction: column;
  }
  .container .description .section__container .left-side {
    max-width: 100%;
  }
  .container .description .section__container .left-side .content {
    padding: 0;
  }
  .container .description .section__container .right-side {
    max-width: 100%;
  }
  .container .all-product {
    padding: 0 30px;
  }
  .container .all-product .section__wrapper {
    grid-template-columns: auto auto;
  }
  .container .contact {
    padding: 0 30px;
  }
  .container .contact .section__container {
    flex-direction: column;
  }
  .container .contact .section__container .left-side {
    max-width: 100%;
  }
  .container .contact .section__container .left-side .content {
    padding: 0;
  }
  .container .contact .section__container .right-side {
    width: 100%;
  }
  .container .contact .section__container .right-side .form__contact .form__info {
    flex-direction: column;
  }
  .container .contact .section__container .right-side .form__contact .form__info input {
    width: 100%;
  }
  .container .contact .section__container .right-side .form__contact .form__message input {
    width: 100%;
    padding: 15px 5px;
  }
  footer .container {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=app.css.map */
