@import "variables";
@mixin flex(
  $justify-content: flex-start,
  $align-items: center,
  $flex-direction: row
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}
@mixin section__title(
  $text-align: center,
  $padding: 30px,
  $margin: 0 auto,
  $padding-bottom: 85px,
  $text-transform: uppercase,
  $font-size: 40px
) {
  text-align: $text-align;
  padding: $padding;
  margin: $margin;
  padding-bottom: $padding-bottom;
  text-transform: $text-transform;
  font-size: $font-size;
}
@mixin content__title(
  $line-height: 1.1,
  $font-weight: 400,
  $text-transform: uppercase,
  $font-size: 2.6rem,
  
) {
  font-weight: $font-weight;
  text-transform: $text-transform;
  font-size: $font-size;
  line-height: $line-height;
}


body {
  font-family: Arial, sans-serif;

  color: $text-color;
}

header {
  text-transform: uppercase;
  @include flex(space-between, center);
  width: 100%;
  padding: 10px 25px;
  .header__logo {
    @include flex(center, center);
    width: 40%;
    h1 {
      font-size: large;
      font-weight: bold;
    }
    img {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }
  nav {
    width: 60%;
    @include flex(space-between, center);
    ul {
      list-style: none;

      @include flex(space-around, center);
      li {
        padding: 15px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          border-bottom: 5px solid $primary-color;
        }
      }
    }
    .header__icon {
      ul li {
        padding: 10px;
      }
    }
  }
  .menu__icon {
    display: none;
  }
}

.container {
  .slide {
    position: relative;
    // min-width: 800px;
    height: 960px;
    .slide__background {
      background-image: url("../asset/img/slide-background.jpg");
      filter: blur(2px);
      -webkit-filter: blur(2px);
      width: 100%;
      height: 960px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      // position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }
    .slide__content {
      @include flex(space-between, center);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 85%;

      padding-top: 50px;
      // transform: translateX(30%);
      img {
        // max-width: 500px;
        max-width: 50%;
        margin-left: 8%;
      }
      .slide__content__des {
        @include flex(flex-start, flex-start, column);
        color: $primary-color;
        min-width: 40%;
        h2 {
          text-transform: uppercase;
          font-size: 2.6rem;
          line-height: 1.1;
          font-weight: bold;
          text-align: left;
        }
        p {
          word-break: break-word;
          word-wrap: break-word;
          font-weight: 400;
          font-family: "EB Garamond", serif;
          font-size: 1.4375rem;
          line-height: 1.5;
        }
      }
      .slide__control {
        padding: 0 80px;
        color: $primary-color;
        font-size: 25px;
        .slide__pre {
          transform: translate(-50%, -50%);
          position: absolute;
          left: -2%;
          cursor: pointer;
        }
        .slide__next {
          transform: translate(-50%, -50%);
          position: absolute;
          right: -2%;
          cursor: pointer;
        }
      }
    }
  }
  .about-us {
    padding: 0 80px;
    margin-top: 80px;
    .section__title {
      @include section__title(center, 30px, 0 auto, 85px, uppercase, 40px);
    }
    .section__content {
      @include flex(space-between, center);
      gap: 20px;

      .card {
        background: #f2f2f2;
        padding: 30px 30px 60px;

        text-align: center;
        .card__icon {
          font-size: 5rem;
          color: #ff2b09;
          margin-bottom: 2rem;
        }
        .card__title strong {
          font-size: 1.2rem;
          line-height: 1.5;
          font-weight: 600;
        }
      }
    }
  }
  .introduce {
    padding: 0 80px;
    margin-top: 80px;
    .section__container {
      @include flex(space-between, center);
      .left-side {
        padding: 50px;
        max-width: 50%;
        .content {
          .content__title {
            @include content__title(1.1,400,uppercase, 2.6rem )
          }
          .content__text {
            color: #626262;
            margin: 0;
            text-align: left;
            padding-top: 9px;
            font-style: italic;
          }
        }
        .panel {
          margin-top: 20px;
          .panel__title {
            border-top: 2px solid #626262;
            padding: 15px 0;
            @include flex(space-between, center);
            .panel__title__text {
              font-weight: 400;
              text-transform: uppercase;
              font-size: 1.2rem;
            }
            .panel__title__icon {
              color: $secondary-color;
              font-size: 25px;
            }
          }
          .pannel__text {
            display: none;
          }
        }
      }
      .right-side {
        max-width: 50%;
      }
    }
  }
  .must-know {
    padding: 0 80px;
    margin-top: 80px;
    text-align: center;

    .section__container {
      padding: 12.5rem 0;
      background: #f2f2f2;
      border-radius: 0;
      .section__title {
        @include section__title(center, 30px, 0 auto, 85px, uppercase, 40px);
      }
      .section__link {
        color: #626262;
        text-transform: uppercase;
        margin-top: 1.25rem;
        padding-bottom: 10px;
        &:hover {
          border-bottom: 2px solid $secondary-color;
          color: $secondary-color;
          cursor: pointer;
        }
      }
    }
  }
  .special-product {
    padding: 0 80px;
    margin-top: 80px;
    .section__container {
      @include flex(space-between, center);
      .left-side {
        max-width: 50%;
      }
      .right-side {
        padding: 50px;
        max-width: 50%;
        .content {
          .content__title {
            @include content__title(1.1,400,uppercase, 2.6rem )
          }
          .content__subtitle {
            color: #626262;
            font-style: italic;
            font-size: 1.2375rem;
            line-height: 1.5;
          }
          .content__text {
            font-size: 1.0525rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
  .special-offer {
    padding: 0 80px;
    margin-top: 80px;
    .section__container {
      @include flex(space-between, center);
      .left-side {
        max-width: 50%;
      }
      .right-side {
        padding: 50px;
        max-width: 690px;
        text-align: center;
        max-width: 50%;
        .content {
          .content__link {
            color: #626262;
            text-transform: uppercase;
            margin-top: 1.25rem;
            padding-bottom: 10px;
            &:hover {
              border-bottom: 2px solid $secondary-color;
              color: $secondary-color;
              cursor: pointer;
            }
          }
          .content__title {
            @include content__title(1.1,400,uppercase, 2.6rem );
            padding: 1rem;
            word-break: break-word;
            word-wrap: break-word;
          }
          .content__img {
            max-width: 300px;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .description {
    padding: 0 80px;
    margin-top: 80px;

    .section__container {
      @include flex(space-between, center);
      .left-side {
        max-width: 50%;

        .content {
          padding: 50px;
          .content__title {
            @include content__title(1.1,400,uppercase, 2.6rem )
          }
          .content__subtitle {
            color: #626262;
            font-style: italic;
            font-size: 1.2375rem;
            line-height: 1.5;
          }
          .content__text {
            font-size: 1.0525rem;
            line-height: 1.5;
          }
        }
      }
      .right-side {
        max-width: 50%;
        .product {
          @include flex(center, center);
          gap: 10px;
          height: 500px;

          .product__item {
            height: 100%;
            position: relative;
            cursor: pointer;

            .product__img {
              height: 100%;
            }
            .product__des {
              position: absolute;
              bottom: 5%;
              left: 50%;
              text-align: center;

              transform: translate(-50%, 0);
              .product__name {
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.5;
                text-transform: uppercase;
              }
              .product__price {
                font-size: 1.0525rem;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
  .best-seller {
    padding: 0 80px;
    margin-top: 80px;
    .section__title {
      @include section__title(center, 30px, 0 auto, 85px, uppercase, 40px);
    }
    .section__wrapper {
      display: grid;
      gap: 20px;
      grid-template-columns: auto auto auto;

      .product__item {
        height: 500px;
        position: relative;
        cursor: pointer;

        .product__img {
          height: 100%;
        }
        .product__des {
          position: absolute;
          bottom: 5%;
          left: 50%;
          text-align: center;

          transform: translate(-50%, 0);
          .product__name {
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.5;
            text-transform: uppercase;
          }
          .product__price {
            font-size: 1.0525rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
  .all-product {
    padding: 0 80px;
    margin-top: 80px;
    .section__title {
      @include section__title(center, 30px, 0 auto, 85px, uppercase, 40px);
    }
    .section__wrapper {
      display: grid;
      gap: 20px;
      grid-template-columns: auto auto auto;

      .product__item {
        height: 500px;
        position: relative;
        cursor: pointer;

        .product__img {
          height: 100%;
        }
        .product__des {
          position: absolute;
          bottom: 5%;
          left: 50%;
          text-align: center;

          transform: translate(-50%, 0);
          .product__name {
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.5;
            text-transform: uppercase;
          }
          .product__price {
            font-size: 1.0525rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
  .contact {
    padding: 0 80px;
    margin-top: 80px;
    .section__container {
      @include flex(space-between, center);
      .left-side {
        max-width: 50%;
        .content {
          padding: 50px;
          .content__title {
            @include content__title(1.1,400,uppercase, 2.6rem )
          }
          .content__subtitle {
            color: #626262;
            font-style: italic;
            font-size: 1.2375rem;
            line-height: 1.5;
          }
          .content__link li {
            font-size: 1.0525rem;
            line-height: 1.5;
            &:hover {
              color: $secondary-color;
              cursor: pointer;
            }
          }
        }
      }
      .right-side {
        width: 50%;
        .form__contact {
          .form__info {
            display: flex;
            input {
              width: 50%;
              padding: 15px 5px;
            }
          }
          .form__message {
            input {
              width: 100%;
              height: auto;
              padding: 15px 5px;
            }
          }
        }
      }
    }
  }
}

footer {
  .container {
    padding: 80px;
    margin-top: 80px;
    @include flex(space-between, center);
    background-color: #f2f2f2;
    gap: 35px;
    .footer__logo {
      img {
        max-width: 400px;
      }
    }
    .footer__list {
      @include flex(space-between, center);
      gap: 200px;
      ul {
        li {
          font-size: 1.0525rem;
          line-height: 1.5;
          font-weight: 600;
          &:hover {
            color: $secondary-color;
            cursor: pointer;
          }
        }
      }
    }
    .footer__contact {
      .message {
        margin: 20px 0;
        font-size: 1.0525rem;
        line-height: 1.5;
        font-weight: 600;
      }
      form {
        .email {
          background-color: #f2f2f2;
        }
        .submit {
          &:hover {
            color: #f2f2f2;
            background-color: $primary-color;
            transition: ease-in 0.2s;
          }
        }
      }
    }
  }
}
