doctype html
html
  head
    title My Sass and Pug Project
    link(rel='stylesheet', href='./css/app.css')
    link(href="./asset/fontawesome-free-6.4.0-web/css/all.min.css" rel="stylesheet")

  body
    header
        .header__logo 
            img(src="../asset/img/logo.png", alt="logo image")
            h1 natual cosmetic
        .header__navbar 
            ul 
                li home 
                li about us 
                li shop 
            .header__icon 
                mixin icon(icon)
                         li.icon  
                            i(class=icon)
                ul
                    +icon('fa-brands fa-facebook-f')
                    +icon('fa-brands fa-twitter')
                    +icon('fa-brands fa-instagram')

        .menu__icon
            +icon('fa-solid fa-bars')


    main
      
      div.container
        section.slide
            .slide__background
            .slide__content 
                .slide__content__des 
                    h2 THE VIEW ON REFRESHING
                    p Phosfluorescently maintain impactful process.
                    button.btn-primary-outline.btn read more
                img(src="../asset/img/slide.jpg", alt="slide image")
                .slide__control 
                    .slide__pre
                        i.fa-solid.fa-chevron-left
                    .slide__next
                        i.fa-solid.fa-chevron-right
        section.about-us 
            .section__title 
                h2 ABOUT US
            .section__content 
              
                    include mixins/card.pug
                    +card('fa-regular fa-heart','MADE WITH LOVE','Magna at erat pretium mattis id non odio quisque nec tempor sapien quis eget ligula ispsum sagittis.')
                    +card('fa-regular fa-face-smile','FOR YOUR HAPPINESS','Magna at erat pretium mattis id non odio quisque nec tempor sapien quis eget ligula ispsum sagittis.')
                    +card('fa-solid fa-sun','NATURAL CARE','Magna at erat pretium mattis id non odio quisque nec tempor sapien quis eget ligula ispsum sagittis.')
        section.introduce

            .section__container 
                .left-side
                    .content 
                        .content__title COSMETIC YOU CAN BE PROUD OF
                        .content__text Only natural ingridients
                    .panel
                        include mixins/panel.pug
                        +panel('SAFETY','Morbi et magna at erat pretium mattis id non odio quisque nectem por sapien quis sagittis commodo ipsum arcu metus sed.')
                        +panel('quality','Morbi et magna at erat pretium mattis id non odio quisque nectem por sapien quis sagittis commodo ipsum arcu metus sed.')
                        +panel('vegan','Morbi et magna at erat pretium mattis id non odio quisque nectem por sapien quis sagittis commodo ipsum arcu metus sed.')
                .right-side 
                    img(src="../asset/img/image3.jpg", alt="product image")   
        section.must-know
            .section__container
                h2.section__title 8 THINGS YOU MUST KNOW ABOUT COSMETIC
                 
                a.section__link GET CHECKLIST
        section.special-product

            .section__container 
                .left-side
                    img(src="../asset/img/image1.jpg", alt="product image")   
                    
                .right-side 
                    .content 
                        .content__title DEVOTED TO WONDERFUL BEAUTY
                        .content__subtitle With 30-minute premium treat
                        .content__text Phasellus faucibus vehicula rutrum in ante ligula vel arcu quis lacinia posuere metus eget ligula ipsum maximus lobortis nec imperdiet.
                        
                        button.btn-primary-outline.btn read more
        
        section.description 

             .section__container 
                .left-side
                   .content 
                        .content__title NOTHING ACTS FASTER THAN CARE
                        .content__subtitle Only natural ingridients
                        .content__text Phasellus faucibus vehicula rutrum in ante ligula vel arcu quis lacinia posuere metus eget ligula ipsum maximus lobortis nec imperdiet.
                        
                        button.btn-primary-outline.btn read more  
                    
                .right-side 
                    .product
                        include mixins/product.pug
                        +product('../asset/img/product1.jpg','$65.000','CARE CREAM')
                        +product('../asset/img/product1.jpg','$65.000','CARE CREAM')
        section.special-offer

            .section__container 
                .left-side
                    img(src="../asset/img/image2.jpg", alt="product image")   
                    
                .right-side 
                    .content 
                        .content--img 
                            img(src="../asset/img/image3.jpg", alt="product image")
                        .content--title 
                            h2 SPECIAL OFFERS FOR YOU ONLY
                        a.content--link GET GIFTING
        section.best-seller 
            .section__title OUR BESTSELLERS
            .section__wrapper
                include mixins/product.pug
                +product('../asset/img/product1.jpg','$65.000','CARE CREAM')
                +product('../asset/img/product2.jpg','$65.000','CARE CREAM')
                +product('../asset/img/product3.jpg','$65.000','CARE CREAM')
        section.all-product 
            .section__title OUR PRODUCTS
            .section__wrapper
                include mixins/product.pug
                +product('../asset/img/product1.jpg','$65.000','CARE CREAM')
                +product('../asset/img/product2.jpg','$65.000','CARE CREAM')
                +product('../asset/img/product1.jpg','$65.000','CARE CREAM')
                +product('../asset/img/product3.jpg','$65.000','CARE CREAM')
                +product('../asset/img/product1.jpg','$65.000','CARE CREAM')
                +product('../asset/img/product3.jpg','$65.000','CARE CREAM')
        
        section.contact 
            .section__container 
                .left-side
                   .content 
                        .content__title CONTACT US
                        .content__subtitle To get special offers to your email
                        .content__link 
                            ul 
                                li Amsterdam CA 90291
                                li email@site.com
                                li +1 (234) 56-78
                                li @natural.cosmetic   
                .right-side 
                    .form__contact 
                        form 
                            .form__info 
                                input.name(type="text" placeholder="Name" required)
                                input.email(type="text" placeholder="Email")
                            .form__message 
                                input.message(type="textarea" placeholder="Message")
                    button.btn-primary-outline.btn read more  
  
    footer
        .container
            .footer__logo
                img(src="../asset/img/logo.png", alt="logo")
            .footer__list
                ul 
                    li ABOUT
                    li FAQ
                    li PRODUCTS
                    li TERMS
                    li POLICY
                ul 
                    li INSTAGRAM
                    li TWITTER
                    li FACEBOOK
                    li PINTEREST
                    li BLOG
            .footer__contact
                .message  SUBSCRIBE TO OUR NEWSLETTER
                form(action="") 
                    input.email(type="text" placeholder="Your email address")
                    input.submit(type="submit")
                    

