mixin panel(title, text)
    .panel__item
        .panel__title 
            .panel__title--text=title
            .panel__title--icon
                i.fa-solid.fa-chevron-down
        .pannel__text=text