mixin product(img,price,name)
    .product__item 
        .product__img
            img(src=img,alt="product img")
        .product__des
            .product__name=name 
            .product__price=price 
